@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 80px;
    background-color: #f56500;
}

#header_menu { /* ヘッダー全体 */
    max-width: 800px;
    height: 60px;
    /* background-color:black; */
    padding-top: 17px;
   /*  display: block; */
}
#header a {
    color: #eeeeee;
}

h1 {  /* 洋菓子店Little Decoマネジメントツール部分 */
    font-size: 20px;
    text-shadow: 1px 1px 2px #808080;  /* 横に1px・縦に2px・ぼかし3px・影の色#808080 */
    /* background-color: red; */
    width: 200px;
    margin-left: 20px;
    display: inline-block;
}
h1 a {
    color: #eeeeee;
}

br.T {  /* "洋菓子店Little Deco"と"マネジメントツール"の間の改行 */
display: block;
content: "";
margin: -10px 0;
}
#search-wrap {/*検索フォーム全体*/
  display: inline-block;
  width: 250px;
  margin-bottom: 20px;
  position: relative;
  height: 10px;
  margin-left: 140px;
  padding: 0;
 /*  background-color: blue;  */
}

input[id="search"] {/*入力部分スタイリング。width: 0px;にしておく*/
  height: 40px;
  font-size: 15px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: rgb(83, 83, 83);
  padding: 3px;
  padding-right: 60px;

  width: 0px;
  position: absolute;
  /* top: 30px; */
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
::placeholder{
    color: #d9d9d9;
}

input[id="search"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[id="search"]:focus {
  width: 250px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[id="search-submit"] {/*アイコン部分*/
  height: 40px;
  width: 40px;
  display: inline-block;
  color:red;
  background: url(../img/icon_search-5.svg) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  /* top: 30px; */
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity .4s ease;
}

input[id="search-submit"]:hover {
  opacity: 0.8;
}

#employee_name {  /* ログアウト部分 */
    color: #cccccc;
    /* background-color: purple; */
    font-size: 15px;
    width: 200px;
    height: 50px;
    line-height: 60px;
    margin-left: 40%;
    display: inline-block;
    position: absolute;
}

.new-can-admin{
    float: right;
    margin-left: 30px;
    font-size: 16px;
    margin-top: 10px;
}
span.計算フォーム{
    display: inline-block;
}
.check-process{
    display: inline-block;
    margin-left: 30px;
}

#content {
    max-width: 830px;
    margin-top: 15px;
    margin-left: 15px;
    padding: 3%;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
}
#dent {
    display:inline-block;
    width: 260px;
    margin: 20px;
    padding: 3%;
    border: 2px solid #7b7b7b;
    border-radius: 10px;
    text-align:center;
}


#wrap_create{
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
}

.create{  /* 新規作成文字 */
    color: red;
    font-style: bold;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

h3 {
    font-size: larger;
}

.recipe_title{ /* フォーム幅 */
    width:400px;
}
.recipe_ingr{ /* フォーム幅 */
    width:300px;
}
.recipe_amount{ /* フォーム幅 */
    width:125px;
}

.number{
    width:100px;
}

#人数タグ{
    display:block;
}

#材料タグ{
    display:inline-block;
}

#分量タグ{
    display:inline-block;
    margin-left:150px;
}
span.注意書き{
    font-size:13px;
    color: red;
    }

/* オプションボタン一覧 */
#option-btn{ /* オプションボタン全体 */
    border-radius: 10px;
    background-color:#f5f5f5;
    max-width: 800px;
    padding: 15px;
}
a.btn--orange {
  display: inline-block;
  color: #fff;
  background-color: #eb6100;
  width: 110px;
  height: 70px;
  text-align: center;
  padding-top: 40px;
  border-radius: 10px;
  border-bottom: 2px solid #b84c00;
  margin: 6px;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
a.btn--gray {
  display: inline-block;
  color: #fff;
  background-color: #d7d7d7;
  width: 110px;
  height: 70px;
  text-align: center;
  padding-top: 40px;
  border-radius: 10px;
  border-bottom: 2px solid #b84c00;
  margin: 6px;
}
a.btn--gray:hover {
  margin-top: 3px;
  color: #fff;
  background: #d7d7d7;
  border-bottom: 2px solid #b84c00;
}
a.btn--blue {
  display: inline-block;
  color: #fff;
  background-color: #3d97e2;
  width: 110px;
  height: 40px;
  text-align: center;
  padding-top: 13px;
  border-radius: 10px;
  border-bottom: 2px solid #3280c0;
  margin: 6px;
}
a.btn--blue:hover {
  margin-top: 3px;
  color: #fff;
  background: #44a4f5;
  border-bottom: 2px solid #3280c0;
}
a.btn--blue2 {
  display: inline-block;
  color: #fff;
  background-color: #33bacd;
  width: 110px;
  height: 40px;
  text-align: center;
  padding-top: 13px;
  border-radius: 10px;
  border-bottom: 2px solid #2b9dad;
  margin: 6px;
}
a.btn--blue2:hover {
  margin-top: 3px;
  color: #fff;
  background: #38cde2;
  border-bottom: 2px solid #2b9dad;
}

.back-page{
    font-style:none;
    font-size: 15px;
}

label[id="utensil"]{
    margin-left: 5px;
}

label[id="temp"]{
    margin-left: 105px;
}

label[id="speed"]{
    margin-left: 85px;
}

label[id="time"]{
    margin-left: 55px;
}

.process{
    width:500px;
    height:45px;
}
input[class="temp"]{
    width:75px;
    margin-left:15px;
}

select[class="speed"]{
    width: 75px;
    margin-left:15px;
}

input[class="time"]{
    width: 75px;
    margin-left:15px;
}




li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
   text-decoration: none;
    color: #24738e;
}

table,tr,th,td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed; /* テーブルの横幅 */
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}



table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}

table#recipe_list,#recipe_detail th {
    font-weight: bold;
    padding: 10px 2%;
}

table#recipe_list .recipe_name {
    width: 20%;
    padding: 10px 2%;
}
table#recipe_list .recipe_date {
    width: 20%;
}

table#recipe_list .recipe_title {
    width: 30%;
}

table#recipe_list .recipe_action {
    width: 20%;
}

table#recipe_list .recipe_approval {
    width: 13%;
}

table#recipe_detail{
counter-reset:ranking;
}
th.pr{
    display:block;
    float:left;
    width:95.9%;
    counter-increment:ranking;
}
th.pr:before{
content:"工程"counter(ranking) ;
}
th.ut,td.ut{
    display:inline-block;
    width:20.74%;
}
th.temp,td.temp{
    display:inline-block;
    width:20.74%;
}
th.speed,td.speed{
    display:inline-block;
    width:20.74%;
}
th.time,td.time{
    display:inline-block;
    width:20.74%;
}
th.blank{
    border-color:white;
}
th.sum,td.sumAmount,td.empty,td.sumEnergy,td.sumPrice{
    border:1.3px solid;
}


pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    position: absolute;
    left: 390px;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

.char-yellow{
    background-color:#f5f473;
    padding:3px;
    margin-right:10px;
}

div#wrap発注書{
    border:1px solid black;
    padding:40px;
}
#発注書{
    margin-left:50%;
}

#saler御中{
    display:inline;
}
#発注日{
    float:right;
}

th.product{
    width:50%;
}
th.orderDate{
    width:133px;
}
th.deliDate{
    width:133px;
}
input#deliDate{
    width:110px;
}
input#numberOfOrder{
    width:60px;
}

#orderingEmp{
    text-align:right;
}
.orderingEmp{
    margin-right:35px;
}

button#mail{
    display: inline-block;
    border:none;
    background-color:#ffffff;
    cursor: pointer;
    margin-left:320px;
}
img#mail{
    width:50px;
    height:35px;
}

button#print{
    display: inline-block;
    border:none;
    background-color:#ffffff;
    cursor: pointer;
    margin-left:10px;
}
img#print{
    width:45px;
    height:40px;
}
#発注合計金額{
    text-align:right;
    border-bottom: 1px solid black;
}


